* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* max-width: 1200px; */
}
body {
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.borde {
  border: 1px red solid;
}

.pagina {
  display: flex;
}
.datosizq {
  flex: 2;
  background-color: #2086a0;
  color: white;
}
.fotoperfil {
  max-width: 100%;
  overflow: hidden;
}
.fotoperfil img{
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}
.datosizq2 {
  padding: 50px;
}
.nombre {
  text-align: center;
  line-height: 44px;
}
.nombre h1 {
  font-size: 40px;
}
.nombre h3 {
  font-weight: lighter;
}
.tablaizq {
  width: 100%;
  border-collapse: collapse;
  text-align: justify;
}
.tablaizq th,
td {
  border: 2px solid white;
  padding: 10px;
  border-left: none;
  border-right: none;
}
.tablaizq td {
  text-align: right;
}
.tablaizq span {
  font-weight: lighter;
}
.tablaizq img {
  border-radius: 10px;
  width: 35px;
  padding: 3px;
  background-color: white;
}

/* ------------------------------------------------------------- */

.datosder {
  flex: 3;
  padding-left: 5%;
  padding-right: 5%;
}
/* @media (max-width: 1000px) {
  .datosder {
    background-color: #d6d6d6;
    font-size: 14px;
  }
} */
.datosder2 {
  text-align: justify;
}
.tablader {
  /* width: 100%; */
  border-collapse: collapse;
}
.tablader th {
  padding: 2%;
}
.tabladerborde {
  border-top: 10px solid #333;
}
.tablader h1 {
  color: #2086a0;
  font-weight: normal;
}
.tablader h3 {
  font-weight: lighter;
}
ul {
  list-style-type: none;
}
li {
  position: relative;
  padding-left: 4%;
}
li::before {
  content: "\25A0";
  position: absolute;
  left: 0;
}
